{% extends "base.html" %}

{% block title %}Rediģēt "{{ name }}"{% endblock %}

{% block content %}

<button class="corner" onclick="logout()">Iziet</button>

<main class="edit-form">
    <input id="title" type="text" placeholder="Veidlapas virsraksts" value="{{ name }}" />
    <h1 id="title" value="{{ name }}">{{ name }}</h1>

    <div class="tab-wrapper">
        <button class="tab" id="editBtn" onclick="openTab('edit')">Jautājumi</button><button class="tab" id="dataBtn" onclick="openTab('data')">Atbildes</button>
    </div>

    <div id="edit">
        <div id="questions"></div>

        <button onclick="addQuestion()">+ Pievienot jautājumu</button>

        <p class="error"></p>

        <button class="centered" onclick="save()">Saglabāt</button>
    </div>

    <div id="data">
        <h2>Statistika par Putnu ar Bumbāb (aptauju)</h2>
        <div class="data_row">
            <!-- Container for pie charts (multiple_choice questions) -->
            <div id="pie-chart-container"></div>

            <!-- Container for histograms (checkbox questions) -->
            <div id="histograms-container"></div>
        </div>
    </div>
</main>

<footer>
    <p>&copy; pauris.lv, 2025.</p>
</footer>

<script type="text/javascript">
    let data = {{ questions|tojson }};

    let questionWrapper = document.querySelector("#questions");

    const addQuestion = () => {
        let id = Math.floor(Math.random() * 1000000);

        questionWrapper.insertAdjacentHTML("beforeend", `
            <div class="question" data-id="${id}" data-type="short_text">
                <input type="text" placeholder="Jautājums" value="Jautājums #${questionWrapper.children.length + 1}">
                <button onclick="removeQuestion(${id})" class="icon"><img src="{{ url_for('static', filename='icons/trash.svg') }}" /></button>
                <br />

                <div class="required-check">
                    <input id="${id}-required" type="checkbox" />
                    <label for="${id}-required">Obligāts jautājums</label>
                </div>

                <select onchange="onQuestionTypeChange(${id})">
                    <option data-type="short_text">Īss teksta lauks</option>
                    <option data-type="long_text">Garš teksta lauks</option>
                    <option data-type="multiple_choice">Izvēles varianti</option>
                    <option data-type="checkbox">Izvēles rūtiņas</option>
                    <option data-type="text">Paskaidrojošs teksts</option>
                </select>

                <div class="question-options">
                    <div></div>
                    <button onclick="addOption(${id})">+ Jauna izvēle</button>
                    <input id="${id}-other-option" class="other-option" type="checkbox" />
                    <label for="${id}-other-option">Ļaut ievadīt citu atbildi</label>
                </div>
            </div>
        `);

        onQuestionTypeChange(id);
    };

    const removeQuestion = (id) => {
        questionWrapper.removeChild(questionWrapper.querySelector(`[data-id="${id}"]`));
    }

    const onQuestionTypeChange = (id) => {
        let dataType = document.querySelector(`.question[data-id="${id}"] option:nth-child(${document.querySelector(`.question[data-id="${id}"] select`).selectedIndex+1})`).getAttribute("data-type");
        document.querySelector(`.question[data-id="${id}"]`).setAttribute("data-type", dataType);

        if (dataType == "multiple_choice" || dataType == "checkbox") {
            document.querySelector(`.question[data-id="${id}"] .question-options`).style.display = "block";
        } else {
            document.querySelector(`.question[data-id="${id}"] .question-options`).style.display = "none";
        }

        if (dataType == "text") {
            document.querySelector(`.question[data-id="${id}"] .required-check`).style.display = "none";
        } else {
            document.querySelector(`.question[data-id="${id}"] .required-check`).style.display = "block";
        }
    }

    const addOption = (id) => {
        let optionsWrapper = document.querySelector(`.question[data-id="${id}"] .question-options div`);
        let optionID = Math.floor(Math.random() * 1000000);
        optionsWrapper.insertAdjacentHTML("beforeend", `
            <div class="option" data-id="${optionID}">
                <input placeholder="Izvēle" type="text" value="Izvēle #${optionsWrapper.children.length + 1}" />
                <button onclick="removeOption(${optionID})" class="icon"><img src="{{ url_for('static', filename='icons/trash.svg') }}" /></button>
            </div>
        `);
    }

    const removeOption = (id) => {
        let option = questionWrapper.querySelector(`.question-options [data-id="${id}"]`);
        option.parentNode.removeChild(option);
    }

    for (let i = 0; i < data.length; i++) {
        questionWrapper.insertAdjacentHTML("beforeend", `
            <div class="question" data-id="${data[i].id}" data-type="short_text">
                <input type="text" placeholder="Jautājums" value="${data[i].text}">
                <button onclick="removeQuestion(${data[i].id})" class="icon"><img src="{{ url_for('static', filename='icons/trash.svg') }}" /></button>
                <br />

                <div class="required-check">
                    <input id="${data[i].id}-required" type="checkbox" ${data[i].required ? "checked" : ""} />
                    <label for="${data[i].id}-required">Obligāts jautājums</label>
                </div>

                <select onchange="onQuestionTypeChange(${data[i].id})">
                    <option data-type="short_text" ${data[i].type == "short_text" ? "selected" : ""}>Īss teksta lauks</option>
                    <option data-type="long_text" ${data[i].type == "long_text" ? "selected" : ""}>Garš teksta lauks</option>
                    <option data-type="multiple_choice" ${data[i].type == "multiple_choice" ? "selected" : ""}>Izvēles varianti</option>
                    <option data-type="checkbox" ${data[i].type == "checkbox" ? "selected" : ""}>Izvēles rūtiņas</option>
                    <option data-type="text" ${data[i].type == "text" ? "selected" : ""}>Paskaidrojošs teksts</option>
                </select>

                <div class="question-options">
                    <div></div>
                    <button onclick="addOption(${data[i].id})">+ Jauna izvēle</button>
                    <input id="${data[i].id}-other-option" class="other-option" type="checkbox" ${data[i].customOption ? "checked" : ""} />
                    <label for="${data[i].id}-other-option">Ļaut ievadīt citu atbildi</label>
                </div>
            </div>
        `);

        onQuestionTypeChange(data[i].id);

        if (data[i].type != "multiple_choice" && data[i].type != "checkbox") continue;

        let optionsWrapper = questionWrapper.querySelector(`.question[data-id="${data[i].id}"] .question-options div`);
        let optionID = Math.floor(Math.random() * 1000000);
        for (let o = 0; o < data[i].options.length; o++) {
            optionsWrapper.insertAdjacentHTML("beforeend", `
                <div class="option" data-id="${optionID}">
                    <input placeholder="Izvēle" type="text" value="${data[i].options[o]}" />
                    <button onclick="removeOption(${optionID})" class="icon"><img src="{{ url_for('static', filename='icons/trash.svg') }}" /></button>
                </div>
            `);
        }

    }

    const save = () => {
        let saveData = [];
        for (let element of document.querySelectorAll(".question")) {
            let question = {
                id: element.getAttribute("data-id"),
                type: element.getAttribute("data-type"),
                required: element.querySelector(".required-check input").checked,
                text: element.querySelector("input").value,
            };
            if (question.type == "multiple_choice" || question.type == "checkbox") {
                let options = [];
                for (let optionElement of element.querySelectorAll(".question-options input[type=text]")) {
                    options.push(optionElement.value);
                }
                question.options = options;
                question.customOption = element.querySelector("input.other-option").checked;
            }
            saveData.push(question);
        }
        fetch("/api/edit_form", {
            method: "POST",
            headers: new Headers({ "content-type": "application/json" }),
            body: JSON.stringify({
                id: "{{ id }}",
                name: document.querySelector("input#title").value,
                questions: saveData,
            }),
        }).then(async (res) => {
            let response = await res.json();
            if (response.successful) {
                window.location.reload();
            } else {
                document.querySelector("#edit p.error").innerText = result.error;
            }
        }).catch(() => {
            document.querySelector("#edit p.error").innerText = "Nevarēja savienoties ar serveri!";
        });
    };

    const logout = () => {
        fetch("/api/logout", { method: "POST" }).then(async () => {
            window.location.reload();
        });
    }

    const openTab = (tab) => {
        if (tab == "edit") {
            document.querySelector("#editBtn").classList.add("selected");
            document.querySelector("#dataBtn").classList.remove("selected");
            document.querySelector("#edit").style.display = "block";
            document.querySelector("input#title").style.display = "block";
            document.querySelector("#data").style.display = "none";
            document.querySelector("h1#title").style.display = "none";
        } else if (tab == "data") {
            document.querySelector("#editBtn").classList.remove("selected");
            document.querySelector("#dataBtn").classList.add("selected");
            document.querySelector("#edit").style.display = "none";
            document.querySelector("input#title").style.display = "none";
            document.querySelector("#data").style.display = "block";
            document.querySelector("h1#title").style.display = "block";
        }
    }
    openTab("edit");

    // ------------ GRAFIKI ---------------
    window.onload = async () => {
        const response = await fetch("/api/get_form_answers/{{ id }}");
        const data = await response.json();

        if (data.successful) {
                // Dynamically add pie charts for multiple-choice questions
                const pieChartContainer = document.getElementById("pie-chart-container");
                for (const questionId in data.pie_charts) {
                    const pieChartImg = data.pie_charts[questionId];
                    const pieChartElement = document.createElement("div");
                    pieChartElement.classList.add("chart");
                    pieChartElement.innerHTML = `<img src="data:image/png;base64,${pieChartImg}" alt="Pie Chart for Question ${questionId}">`;
                    pieChartContainer.appendChild(pieChartElement);
                }

                // Dynamically add histograms for checkbox questions
                const histogramsContainer = document.getElementById("histograms-container");
                for (const questionId in data.histograms) {
                    const histogramImg = data.histograms[questionId];
                    const histogramElement = document.createElement("div");
                    histogramElement.classList.add("chart");
                    histogramElement.innerHTML = `<img src="data:image/png;base64,${histogramImg}" alt="Histogram for Question ${questionId}">`;
                    histogramsContainer.appendChild(histogramElement);
                }
            } else {
                console.error("Failed to load the data.");
            }
    }
</script>

{% endblock %}
