{% extends "base.html" %}

{% block title %}Rediģēt "{{ name }}"{% endblock %}

{% block content %}

<button class="corner" onclick="logout()">Iziet</button>

<main class="edit-form">
    <input id="title" placeholder="Veidlapas virsraksts" value="{{ name }}" />
    <h1 id="title" value="{{ name }}">{{ name }}</h1>

    <div class="tab-wrapper">
        <button class="tab" id="editBtn" onclick="openTab('edit')">Jautājumi</button><button class="tab" id="dataBtn" onclick="openTab('data')">Atbildes</button>
    </div>

    <div id="edit">
        <div id="questions"></div>

        <button onclick="addQuestion()">+ Pievienot jautājumu</button>

        <button class="centered" onclick="save()">Saglabāt</button>
    </div>

    <div id="data">
        <p>Šeit Doņeckis ieliks ka var apskatīties atbildes un kkādu statistiku saistībā ar tām</p>
    </div>
</main>

<footer>
    <p>&copy; pauris.lv, 2025.</p>
</footer>

<script type="text/javascript">
    let data = {{ questions|tojson }};
    let questionWrapper = document.querySelector("#questions");

    const addQuestion = () => {
        let id = Math.floor(Math.random() * 1000000);

        questionWrapper.insertAdjacentHTML("beforeend", `
            <div class="question" data-id="${id}" data-type="short_text">
                <input type="text" placeholder="Jautājums" value="Jautājums #${questionWrapper.children.length + 1}">

                <select onchange="onQuestionTypeChange(${id})">
                    <option data-type="short_text">Īss teksta lauks</option>
                    <option data-type="long_text">Garš teksta lauks</option>
                    <option data-type="multiple_choice">Izvēles varianti</option>
                    <option data-type="checkbox">Izvēles rūtiņas</option>
                </select>

                <div class="question-options">
                    <div></div>
                    <button onclick="addOption(${id})">+ Jauna izvēle</button>
                </div>
            </div>
        `);

        onQuestionTypeChange(id);
    };

    const onQuestionTypeChange = (id) => {
        let dataType = document.querySelector(`.question[data-id="${id}"] option:nth-child(${document.querySelector(`.question[data-id="${id}"] select`).selectedIndex+1})`).getAttribute("data-type");
        document.querySelector(`.question[data-id="${id}"]`).setAttribute("data-type", dataType);

        if (dataType == "multiple_choice" || dataType == "checkbox") {
            document.querySelector(`.question[data-id="${id}"] .question-options`).style.display = "block";
        } else {
            document.querySelector(`.question[data-id="${id}"] .question-options`).style.display = "none";
        }
    }

    const addOption = (id) => {
        let optionsWrapper = document.querySelector(`.question[data-id="${id}"] .question-options div`);
        optionsWrapper.insertAdjacentHTML("beforeend", `
            <input placeholder="Izvēle" value="Izvēle #${optionsWrapper.children.length + 1}" />
        `);
    }

    for (let i = 0; i < data.length; i++) {
        questionWrapper.insertAdjacentHTML("beforeend", `
            <div class="question" data-id="${data[i].id}" data-type="short_text">
                <input type="text" placeholder="Jautājums" value="${data[i].text}">

                <select onchange="onQuestionTypeChange(${data[i].id})">
                    <option data-type="short_text" ${data[i].type == "short_text" ? "selected" : ""}>Īss teksta lauks</option>
                    <option data-type="long_text" ${data[i].type == "long_text" ? "selected" : ""}>Garš teksta lauks</option>
                    <option data-type="multiple_choice" ${data[i].type == "multiple_choice" ? "selected" : ""}>Izvēles varianti</option>
                    <option data-type="checkbox" ${data[i].type == "checkbox" ? "selected" : ""}>Izvēles rūtiņas</option>
                </select>

                <div class="question-options">
                    <div></div>
                    <button onclick="addOption(${data[i].id})">+ Jauna izvēle</button>
                </div>
            </div>
        `);

        onQuestionTypeChange(data[i].id);

        if (data[i].type != "multiple_choice" && data[i].type != "checkbox") continue;

        let optionsWrapper = questionWrapper.querySelector(`.question[data-id="${data[i].id}"] .question-options div`);
        for (let o = 0; o < data[i].options.length; o++) {
            optionsWrapper.insertAdjacentHTML("beforeend", `
                <input placeholder="Izvēle" value="${data[i].options[o]}" />
            `);
        }

    }

    const save = () => {
        let saveData = [];
        for (let element of document.querySelectorAll(".question")) {
            let question = {
                id: element.getAttribute("data-id"),
                type: element.getAttribute("data-type"),
                text: element.querySelector("input").value,
            };
            if (question.type == "multiple_choice" || question.type == "checkbox") {
                let options = [];
                for (let optionElement of element.querySelectorAll(".question-options input")) {
                    options.push(optionElement.value);
                }
                question.options = options;
            }
            saveData.push(question);
        }
        fetch("/api/edit_form", {
            method: "POST",
            mode: "cors",
            credentials: "include",
            headers: new Headers({ "content-type": "application/json" }),
            body: JSON.stringify({
                id: "{{ id }}",
                name: document.querySelector("#title").innerText,
                questions: data,
            }),
        }).then(async (res) => {
            let response = await res.json();
            if (response.successful) {
                window.location.reload();
            }
        });
    };

    const logout = () => {
        fetch("/api/logout", { method: "POST" }).then(async () => {
            window.location.reload();
        });
    }

    const openTab = (tab) => {
        if (tab == "edit") {
            document.querySelector("#editBtn").classList.add("selected");
            document.querySelector("#dataBtn").classList.remove("selected");
            document.querySelector("#edit").style.display = "block";
            document.querySelector("input#title").style.display = "block";
            document.querySelector("#data").style.display = "none";
            document.querySelector("h1#title").style.display = "none";
        } else if (tab == "data") {
            document.querySelector("#editBtn").classList.remove("selected");
            document.querySelector("#dataBtn").classList.add("selected");
            document.querySelector("#edit").style.display = "none";
            document.querySelector("input#title").style.display = "none";
            document.querySelector("#data").style.display = "block";
            document.querySelector("h1#title").style.display = "block";
        }
    }
    openTab("edit");
</script>

{% endblock %}
