{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}

<button class="corner" onclick="loginDialog.showModal()">Rediģēt</button>

<main class="fill-form">
    <h1>{{ name }}</h1>

    <div id="questions"></div>

    <button onclick="submit()">Iesniegt</button>
</main>

<footer>
    <p>
        Izveidots, izmantojot
        <a href="{{ url_for('home') }}">pauris.lv veidlapu veidotāju</a>.
    </p>
</footer>

<dialog id="login">
    <p>Lai rediģētu veidlapu, ievadi paroli:</p>
    <input type="password" id="password" value="" />

    <p class="error"></p>

    <div class="btn-wrapper">
        <button onclick="login()">Rediģēt</button>
        <button onclick="loginDialog.close()">Atcelt</button>
    </div>
</dialog>

<script type="text/javascript">
    let loginDialog = document.querySelector("dialog#login");

    let data = {{ questions|tojson }};
    let questionWrapper = document.querySelector("#questions");
    for (let i = 0; i < data.length; i++) {
        if (data[i].type == "short_text") {
            questionWrapper.insertAdjacentHTML("beforeend", `
                <div class="question" data-type="${data[i].type}" data-id="${data[i].id}">
                    <label for="${data[i].id}">${data[i].text}</label>
                    <input id="${data[i].id}" name="${data[i].id}" type="text" />
                </div>
            `);
        } else if (data[i].type == "long_text") {
            questionWrapper.insertAdjacentHTML("beforeend", `
                <div class="question" data-type="${data[i].type}" data-id="${data[i].id}">
                    <label for="${data[i].id}">${data[i].text}</label>
                    <textarea id="${data[i].id}" name="${data[i].id}" type="text"></textarea>
                </div>
            `);
        } else if (data[i].type == "multiple_choice" || data[i].type == "checkbox") {
            questionWrapper.insertAdjacentHTML("beforeend", `
                <div class="question" data-type="${data[i].type}" data-id="${data[i].id}">
                    <label>${data[i].text}</label>
                    <div class="options"></div>
                </div>
            `);
            let element = document.querySelector(`.question[data-id="${data[i].id}"]`);
            for (let o = 0; o < data[i].options.length; o++) {
                let optionId = Math.floor(Math.random() * 100000000)  ;
                element.querySelector(".options").insertAdjacentHTML("beforeend", `
                    <input type="${data[i].type == "multiple_choice" ? "radio" : "checkbox"}" id="${optionId}" name="${data[i].id}" />
                    <label for="${optionId}">${data[i].options[o]}</label>
                    <br />
                `);
            }
            if (data[i].customOption) {
                let optionId = Math.floor(Math.random() * 100000000);
                element.querySelector(".options").insertAdjacentHTML("beforeend", `
                    <input type="${data[i].type == "multiple_choice" ? "radio" : "checkbox"}" id="${optionId}" name="${data[i].id}" data-other="true" />
                    <label for="${optionId}">Cita atbilde:</label>
                    <input id="${optionId}-input" type="text" name="${data[i].id}" onfocus="document.getElementById('${optionId}').checked = true;" class="other-answer" />
                    <br />
                `);
            }
        } else if (data[i].type == "text") {
            questionWrapper.insertAdjacentHTML("beforeend", `
                <div class="question" data-type="${data[i].type}" data-id="${data[i].id}">
                    <p>${data[i].text}</p>
                </div>
            `);
        }
    }

    const submit = () => {
        let answers = {};
        for (let i = 0; i < data.length; i++) {
            let questionElement = document.querySelector(`.question[data-id="${data[i].id}"]`);
            let type = questionElement.getAttribute("data-type");
            let val;

            if (type == "short_text") {
                val = questionElement.querySelector(`input`).value;
            } else if (type == "long_text") {
                val = questionElement.querySelector(`textarea`).value;
            } else if (type == "multiple_choice") {
                let checked = questionElement.querySelector(`.options input:checked`);
                if (checked.getAttribute("data-other")) { // Pielāgotas atbildes opcijā "Cita atbilde:"
                    val = document.getElementById(`${checked.id}-input`).value;
                } else {
                    val = questionElement.querySelector(`.options label[for="${checked.id}"]`).innerText;
                }
            } else if (type == "checkbox") {
                val = [];
                for (let checked of questionElement.querySelectorAll(`.options input:checked`)) {
                    if (checked.getAttribute("data-other")) {
                        val.push(document.getElementById(`${checked.id}-input`).value);
                    } else {
                        val.push(questionElement.querySelector(`.options label[for="${checked.id}"]`).innerText);
                    }
                }
            }

            answers[data[i].id] = val;
        }
        fetch("/api/fill_form", {
            method: "POST",
            headers: new Headers({ "content-type": "application/json" }),
            body: JSON.stringify({
                id: "{{ id }}",
                answers
            }),
        }).then(async (res) => {
            let result = await res.json();
            if (result.successful) {
                window.location.reload();
            }
        });
    }

    const login = () => {
        fetch("/api/login", {
            method: "POST",
            headers: new Headers({ "content-type": "application/json" }),
            body: JSON.stringify({
                id: "{{ id }}",
                password: document.querySelector("#password").value
            }),
        }).then(async (res) => {
            response = await res.json();
            if (response.successful) {
                window.location.reload();
            } else {
                document.querySelector("dialog#login p.error").innerText = "Ievadītā parole nav pareiza!";
            }
        });
    }
</script>

{% endblock %}
