{% extends "base.html" %}

{% block title %}Jauna veidlapa{% endblock %}

{% block content %}

<main class="edit-form">
    <input id="title" type="text" placeholder="Veidlapas virsraksts" value="Jauna veidlapa" />

    <div id="questions"></div>

    <button onclick="addQuestion()">+ Pievienot jautājumu</button>

    <p class="error"></p>

    <button class="centered" onclick="publishDialog.showModal()">Izveidot</button>
</main>

<footer>
    <p>&copy; pauris.lv, 2025.</p>
</footer>

<dialog id="publish-dialog">
    <p>
        Izveidojiet paroli, lai pēc tam varētu piekļūtu veidlapas rezultātiem:
    </p>

    <input type="password" id="password" />

    <div class="btn-wrapper">
        <button onclick="create()">Izveidot</button>
        <button onclick="publishDialog.close()">Atcelt</button>
    </div>
</dialog>

<script type="text/javascript">
    let publishDialog = document.querySelector("dialog#publish-dialog");
    let questionWrapper = document.querySelector("#questions");

    // Jautājuma pievienošana
    const addQuestion = () => {
        let id = Math.floor(Math.random() * 1000000);

        questionWrapper.insertAdjacentHTML("beforeend", `
            <div class="question" data-id="${id}" data-type="short_text">
                <input type="text" placeholder="Jautājums" value="Jautājums #${questionWrapper.children.length + 1}">
                <button onclick="removeQuestion(${id})" class="icon"><img src="{{ url_for('static', filename='icons/trash.svg') }}" /></button>
                <br />

                <div class="required-check">
                    <input id="${id}-required" type="checkbox" />
                    <label for="${id}-required">Obligāts jautājums</label>
                </div>

                <select onchange="onQuestionTypeChange(${id})">
                    <option data-type="short_text">Īss teksta lauks</option>
                    <option data-type="long_text">Garš teksta lauks</option>
                    <option data-type="multiple_choice">Viens izvēles variants</option>
                    <option data-type="checkbox">Vairāki izvēles varianti</option>
                    <option data-type="text">Paskaidrojošs teksts</option>
                </select>

                <div class="question-options">
                    <div></div>
                    <button onclick="addOption(${id})">+ Jauna izvēle</button>
                    <input id="${id}-other-option" class="other-option" type="checkbox" />
                    <label for="${id}-other-option">Ļaut ievadīt citu atbildi</label>
                </div>
            </div>
        `);

        onQuestionTypeChange(id);
    };

    const removeQuestion = (id) => {
        questionWrapper.removeChild(questionWrapper.querySelector(`[data-id="${id}"]`));
    }

    // Jautājuma veida nomainīšana
    const onQuestionTypeChange = (id) => {
        let dataType = document.querySelector(`.question[data-id="${id}"] option:nth-child(${document.querySelector(`.question[data-id="${id}"] select`).selectedIndex+1})`).getAttribute("data-type");
        document.querySelector(`.question[data-id="${id}"]`).setAttribute("data-type", dataType);

        if (dataType == "multiple_choice" || dataType == "checkbox") {
            document.querySelector(`.question[data-id="${id}"] .question-options`).style.display = "block";
        } else {
            document.querySelector(`.question[data-id="${id}"] .question-options`).style.display = "none";
        }

        if (dataType == "text") {
            document.querySelector(`.question[data-id="${id}"] .required-check`).style.display = "none";
        } else {
            document.querySelector(`.question[data-id="${id}"] .required-check`).style.display = "block";
        }
    }

    // Izvēļu pievienošana checkbox/multiple_choice jautājumiem
    const addOption = (id) => {
        let optionsWrapper = document.querySelector(`.question[data-id="${id}"] .question-options div`);
        let optionID = Math.floor(Math.random() * 1000000);
        optionsWrapper.insertAdjacentHTML("beforeend", `
            <div class="option" data-id="${optionID}">
                <input placeholder="Izvēle" type="text" value="Izvēle #${optionsWrapper.children.length + 1}" />
                <button onclick="removeOption(${optionID})" class="icon"><img src="{{ url_for('static', filename='icons/trash.svg') }}" /></button>
            </div>
        `);
    }

    const removeOption = (id) => {
        let option = questionWrapper.querySelector(`.question-options [data-id="${id}"]`);
        option.parentNode.removeChild(option);
    }

    const create = () => {
        let data = [];
        for (let element of document.querySelectorAll(".question")) { // Iziet cauri visiem jautājumu elementiem un sastāda saglabājamos datus
            let question = {
                id: element.getAttribute("data-id"),
                type: element.getAttribute("data-type"),
                required: element.querySelector(".required-check input").checked,
                text: element.querySelector("input").value,
            };
            if (question.type == "multiple_choice" || question.type == "checkbox") {
                let options = [];
                for (let optionElement of element.querySelectorAll(".question-options input[type=text]")) {
                    options.push(optionElement.value);
                }
                question.options = options;
                question.customOption = element.querySelector("input.other-option").checked;
            }
            data.push(question);
        }
        fetch("/api/create_form", {
            method: "POST",
            headers: new Headers({ "content-type": "application/json" }),
            body: JSON.stringify({
                name: document.querySelector("#title").value,
                password: document.querySelector("#password").value,
                questions: data,
            }),
        }).then(async (res) => {
            let response = await res.json();
            if (response.successful) {
                window.location.href = response.id;
            } else {
                document.querySelector(".edit-form p.error").innerText = result.error;
            }
        }).catch(() => {
            document.querySelector(".edit-form p.error").innerText = "Nevarēja savienoties ar serveri!";
        });
    };
</script>

{% endblock %}
