{% extends "base.html" %}

{% block title %}Jauna veidlapa{% endblock %}

{% block content %}

<main class="edit-form">
    <input id="title" placeholder="Veidlapas virsraksts" value="Jauna veidlapa" />

    <div id="form"></div>

    <button onclick="add_field()">+ Pievienot jautājumu</button>

    <button class="centered" onclick="publishDialog.showModal()">Izveidot</button>
</main>

<footer>
    <p>&copy; pauris.lv, 2025.</p>
</footer>

<dialog id="publish-dialog">
    <p>
        Izveidojiet paroli, lai pēc tam varētu piekļūtu veidlapas rezultātiem:
    </p>

    <input type="password" id="password" />

    <button onclick="create()">Izveidot</button>
</dialog>

<script type="text/javascript">
    let publishDialog = document.querySelector("dialog#publish-dialog");
    let form = document.querySelector("#form");

    const add_field = () => {
        let id = Math.floor(Math.random() * 1000000);

        form.innerHTML += `
            <div class="question" id="${id}">
                <input type="text" placeholder="Jautājums" value="Jautājums #${form.children.length + 1}">
                <select>
                    <option data-type="short_text">Īss teksta lauks</option>
                </select>
            </div>
        `;
    };

    const create = () => {
        let data = [];
        for (let element of document.querySelectorAll(".question")) {
            data.push({
                id: element.id,
                type: element.querySelector(`option:nth-child(${element.querySelector("select").selectedIndex+1})`).getAttribute("data-type"),
                text: element.querySelector("input").value,
            });
        }
        fetch("/api/create_form", {
            method: "POST",
            headers: new Headers({ "content-type": "application/json" }),
            body: JSON.stringify({
                name: document.querySelector("#title").value,
                password: document.querySelector("#password").value,
                questions: data,
            }),
        }).then(async (res) => {
            let response = await res.json();
            if (response.successful) {
                window.location.href = response.id;
            }
        });
    };
</script>

{% endblock %}
